@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fbf0da;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
}

::selection{
  background: rgba(255, 255, 0, 0.7);
  color: #000;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
}

.text-outline {
  color: transparent; 
  -webkit-text-stroke: 0.1rem white;
}


